<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="false" />
    <httpErrors>
      <error statusCode="403" subStatusCode="14" responseMode="ExecuteURL" path="/404.html" />
      <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />
    </httpErrors>
    <staticContent>
      <clear />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".js" mimeType="application/x-javascript; charset=utf-8" />
      <mimeMap fileExtension=".txt" mimeType="text/plain; charset=utf-8" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="ARR-Disable-Session-Affinity" value="true" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="style-src https://cdn.make-pizza.info/css/; sandbox allow-scripts allow-same-origin; script-src https://cdn.make-pizza.info/js/ 'unsafe-eval'; default-src 'none'; base-uri 'none'; form-action 'none'; referrer no-referrer; frame-ancestors 'none'; reflected-xss block" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>