<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="404.html" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />
    </httpErrors>
  </system.webServer>
</configuration>