<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="404.html" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="ARR-Disable-Session-Affinity" value="true" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>